<header>
	<!--Navbar START-->
	<nav class="navbar navbar-expand-sm navbar-dark sticky-top">
		<a class="navbar-brand"><img src="../images/logo.png" height="45" width="120%" alt="logo"></a>
	</nav>
	<!--Navbar END-->
</header>
