<!DOCTYPE html>
<html>
<!--Includes the defined head-->
<%- include('../../partials/head') %>

<body>
	<!--Includes the defined header-->
	<%- include('../../partials/custHeader') %>
	
	<main>
		<div class="container-fluid" style="padding:.5em">
			<p><img src="../../images/about.jpg" alt="About Image" width="40%" height="auto"></p>
			<h6>
				Hello Customer,<br><br>
				WELCOME!!! You have stumbled upon the greatest store known to mankind, Clearview Gorcery!<br><br>
				We are the #1 rated totally-not-fake destination for all your e-commerce needs.<br><br>
				On this site you will find a curated selection of products ranging from Beverages, Produce, and even Tools.<br><br>
				<b>-Website by Dan Imbimbo (Using NodeJS + JavaScript)</b>
			</h6>
		</div>
	</main>

	<!--Includes the defined footer-->
	<%- include('../../partials/footer') %>
</body>
</html>